.body {
	width: 100%;
	/*background-color: #ffffff;
	height: 100%;
	width: 100%;
*/
}

.header {
	border-bottom: 2px solid;
	border-color: #e1e1e1;
}
.navbar-nav {
	float: right;
	margin-left: 60%;
}

.navbar-brand{
	color: #ffffff;
	height: 100%;
	width: 220px;
	margin-left: 20%;
	font-size: 30px;
	background-color: #4aaaa5;
	text-align: center;
}

.nav-link {
	border-right: 2px solid;
	border-color: #e1e1e1;
}

.main-box{
	margin-left: 20%;
	margin-right: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	height: fit-content;
	
}

.main-box2{
	margin-left: 20%;
	margin-right: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	height: 1100px;

	
}

#sub-box h2{
	color: #4aaaa5;
	border-top: 2px solid;
	border-color: #e1e1e1;
	margin-left: 15px;

}

#my-pic{
	float: left;
	margin: 15px;
}
.social-media {
	width: 270px;
	text-align: center;
	border: 2px solid;
	background-color: #ffffff;
	border-color: #e1e1e1;
	color: #4aaaa5;
	float: right;
	margin-right: 22%;
	margin-top: -34%;

}

.social-media2{
	width: 270px;
	text-align: center;
	border: 2px solid;
	border-color: #e1e1e1;
	color: #4aaaa5;
	background-color: #ffffff;
	float: right;
	margin-right: 20%;
	margin-top: -17.5%;


}

.social-media3 {
	width: 270px;
	text-align: center;
	border: 2px solid;
	border-color: #e1e1e1;
	color: #4aaaa5;
	background-color: #ffffff;
    float: right;
	margin-right: 20%;
	margin-top: -67%;
}

#sub-box {
	height: fit-content;
	background-color: #ffffff;
}

#github-icon, #linkedin-icon {
	border-right: 2px solid;
	border-color: #e1e1e1;
	
	
	display: inline;
}



.card-header {
	text-align: center;
	background-color: #666666;
	height: 50px;
	width: 100%;
}

.btn {
	background-color: #4aaaa5;
	margin-top: 3%;
}

.card {
	float: left;
	margin: 15px;
}

.image-grid {
	width: 670px;
	margin: 10px;
	text-align: center;

}

.card-body {
	
	background-color: #4aaaa5;
}

body {
	background-image: url(images/background.png);
}
section {
	display: inline;
}

ul {
	margin-right: 8px;
}

p {
	margin: 15px;
}